.Edit_Profile_Page {
  height: 100vh;
  background-color: black;
  overflow: auto;
  padding: 10px;
}
#E_1 {
  height: 154px;
  margin-left: 50px;
}
.E {
  text-align: center;
  margin-top: 50px;
}
#E_1edit {
  position: relative;
  height: 40px;
  top: 50px;
  right: 40px;
}
.E_1 h1 {
  margin: 0;
  color: rgba(255, 255, 255, 1);
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
}
.E_1 h2 {
  margin: 0;
  color: rgba(197, 197, 197, 1);
  font-size: 15px;
  font-weight: 400;
  margin-top: 3px;
}
.Ee {
  padding: 0 15px;
  margin-top: 30px;
}
.EEE h5 {
  color: rgba(197, 197, 197, 1);
  font-size: 16px;
}
.EEE {
  margin-top: 30px;
}
.EEE input {
  width: 100%;
  background-color: black;
  border: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 15px;
  caret-color: white;
  color: white;
  margin-top: 5px;
}
.EEe {
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 0 15px;
}
.EEe button {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border-style: none;
  background: var(--followingbackground);
  color: var(--btntextcolor);
  font-weight: 600;
}
#image {
  width: 35px;
  height: 50px;
  position: absolute;
  right: 110px;
  top: 213px;
  z-index: 60;
  opacity: 0;
}
