.Explore_More_page {
  height: 100vh;
  background-color: black;
  overflow: auto;
}
.N_Nature {
  background: url("../images/Explore_more_page/N_4.png");
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}

.N_back {
  background: linear-gradient(
    179.93deg,
    rgba(0, 0, 0, 0.7) 0.06%,
    rgba(0, 0, 0, 0) 81.28%
  );
  height: 100%;
  display: flex;
}
.N_back_1 {
  background-color: black;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 3px 1px;
  margin-top: 38px;
  margin-left: 15px;
}
.N_back_1 img {
  height: 28px;
}
.N_Back_hash {
  background-color: white;
  height: 35px;
  width: 95px;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 85px;
  border-style: none;
}
.N_Back_hash h6 {
  margin: 0;
  margin-top: 8px;
  font-size: 15px;
}

.explorepagelike {
  background: rgba(255, 255, 255, 0.7);
  mix-blend-mode: normal;
  backdrop-filter: blur(5px);
  width: 80%;
  padding: 15px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-style: none;
  position: relative;
  top: -30px;

}

.explore_like h5 {
  margin: 0;
  font-size: 15px;
  margin-left: 5px;
  color: black;
  font-weight: 500;
}
.explore_like {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ExploreLikeCmtShr{
    display: flex;
    justify-content: center;
}
.Explr_User_details_post{
    display: flex;
    width: 100%;
    /* margin-top: 5px; */
    padding: 0 17px;
}
.Explr_User_details_post img{
    height: 100%;
    margin-right: 10px;
}
.Explr_User_details_post_2 h5{
    font-size: 16px;
    margin: 0;
    color:  rgba(255, 255, 255, 1);
    font-weight: 300;
}
.Explr_User_details_post_2 h5 span{
    font-size: 16px;
    margin: 0;
    color:  rgba(255, 255, 255, 1);
    font-weight: 500;
}
.Explr_User_details_post_2 h6{
    font-size: 13px;
    margin: 0;
    color:  rgba(116, 187, 243, 1);
    margin-top: 3px;
    font-weight: 300;
}
.MoreExplorelike{
    background: rgba(41, 41, 41, 1);
    margin-top: 25px;
    padding:20px  17px;
}
.MoreExplorelike h4{
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.likemore_Explore{
    padding: 20px 0;
    display: flex;
    
}
.likemore_Explore img{
    border-radius: 10px;
    margin: 5px;
    width: 100%;
}




/* media */
/* 
@media screen and (max-width:768px){
    .N_Nature{
        background: url("../images/Explore_more_page/N_4.png");
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
    }
} */
