.ForgotPasswordText h1{
    color: white;
    font-size: 31px;
    font-weight: 600;
}
.ForgotPasswordText p{
    font-size: 15px;
    color: rgba(186, 186, 186, 1);
    margin-top: 17px;
}
.ForgotPasswordText{
    margin-top: 27px;
}