.Mess_Profile_LastActive{
    display: flex;
}
.Mess_Profile_LastActive h2{
    font-size: 10px;
    color: rgba(122, 122, 122, 1);
}
#I_b_U_3{
    position: absolute;
    left: 52px;
}
.Inbox_Message_page{
    top: 115px;
    position: relative;
    padding-bottom: 20px;
}
.Inbox_Message_page_2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 17px;
    align-items: center;
    margin-top: 20px;
}
.I_user_details{
    margin-left: 10px;
}
.I_user_details h5{
    font-size: 15px;
    margin: 0;
}
.I_user_details h6{
    font-size: 12px;
    margin: 0;
    margin-top: 2px;
    color: rgba(122, 122, 122, 1);
}
.addMessage{
    background: linear-gradient(180deg, #FFE299 0%, #F6B202 100%), #C4C4C4;
    position: absolute;
    bottom: 23px;
    padding: 20px 22px;
    right: 30px;
    border-radius: 40px;
    position: fixed;
}
