.Profile_Billing_page{
    height: 100vh;
    background-color: black;
    overflow: auto;
    padding: 10px;
}
.P_bill_1_1{
    padding-left: 14px;
    padding-top: 9px;
    background: rgba(32, 30, 35, 1);
    height: 48px;
    width: 48px;
    border-radius: 12px;
}
.billdetails h5{
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
}
.billdetails{
    margin-top: 20px;
    margin-bottom: 10px;
}
.bill1{
    padding: 0 25px;
}
.B_D_1{
    display: flex;
    align-items: center;
}
.B_D_1 h6{
    margin: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    margin-left: 20px;
}