.Profile_Notification{
    height: 100vh;
    background-color: black;
    overflow: auto;
    padding: 10px;
}

.P_Setting .form-switch .form-check-input{
    /* background-color: rgba(251, 203, 80, 1); */
    height: 22px;
    width: 45px;
    cursor: pointer;
   
}
.P_Setting  .form-check-input{
    border: none;
    background-color: rgba(32, 30, 35, 1);
}


.P_Setting input .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .P_Setting input .slider {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .P_Setting input:checked {
    background-color: rgba(251, 203, 80, 1);
  }

  .P_Setting  input:focus + .slider {
    box-shadow: 0 0 1px white;
  }