.Tournament_judge_page {
  height: 100vh;
  background-color: black;
  overflow: auto;
  padding-bottom: 85px;
}
.judge_baner {
  text-align: center;
  margin-top: 25px;
}
.Judge_history {
  padding: 0 20px;
  margin-top: 20px;
}
.judge_h h5 {
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}
.daysmemeestatus {
  background: var(--judge_day_num_of_memes);
  color: var(--btntextcolor);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.judgedays h3 {
  font-size: 14px;
  margin: 0;
  text-align: center;
  margin-top: 12px;
  font-weight: 600;
}
.judgedays {
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  height: 50px;
  width: 100%;
  padding: 5px;
}
.judgedays:nth-child(3) {
  border: none;
}
.judgeRank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #292929;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30.5px;
  margin-top: 20px;
  padding-right: 10px;
  height: 50px;
}
.judgerank1 {
  background: linear-gradient(180deg, #b461f4 0%, #671ba3 100%);
  border-radius: 110px;
  height: 50px;
}
.judgerank1 h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  width: 80px;
  text-align: center;
  padding-top: 14px;
}
.judgerank2 h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}
.judgerank3 {
  background: rgba(255, 255, 255, 0.1);
  height: 35px;
  width: 35px;
  padding-top: 5px;
  text-align: center;
  border-radius: 50%;
}
